<header role="banner">
    <div id="header--container">
        <div id="header--left">
            <div id="header--title">
                <a href="/" title="{{ site.name }} - {{ site.description }}">
                    {{ site.name | lower }}
                </a>
            </div>
        </div>
        <div id="header--right">{% include "partials/nav.njk" %}</div><div id="search"></div>
    </div>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
    <script type="text/javascript">
      algoliasearchNetlify({
        appId: 'GUU80Y301J',
        apiKey: '1f162684f3ef08da37b800fc21ba3171',
        siteId: '08fc798c-3b5c-4841-acd4-7babf424a393',
        branch: 'main',
        selector: 'div#search',
      });
    </script>
</header>  
     